html {
  justify-content: center;
}
*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --active-color: #87cefa;
  --titles-color: #212121;
  --discreption-color: #757575;
  --footer-color: #2f303a;
  --text-letter-spacing: 0.03em;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: var(--text-letter-spacing);
  margin: 0;
  padding: 0;
}
.lists {
  list-style: none;
}
.links {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ol,
ul {
  padding: 0px;
  margin: 0px;
}

/*=========HEDER==========*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  width: 1200px;
  padding: 0 15px;
  margin: auto auto;
  justify-content: center;
  display: flex;
}
.navigation {
  display: flex;
}
.logo-link {
  display: flex;
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
  margin-right: 93px;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-part-name {
  color: #000000;
}
.logo-link:hover,
.logo-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  cursor: pointer;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-itme {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 16px;
}
.nav-list-itme:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link:hover,
.nav-list-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  color: var(--accent-color);
}
.studio .nav-list-itme:first-child::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list-itme {
  display: flex;
  align-items: center;

  height: 16px;
}
.contact-list-itme:first-child {
  margin-right: 50px;
}

.contact-list-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link:hover,
.contact-list-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  color: var(--accent-color);
}
.contact-list-link:active {
  color: var(--active-color);
}
.my-mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.my-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link:hover .my-mail,
.contact-list-link:focus .my-mail {
  /*text-decoration: underline solid var(--accent-color);*/
  fill: var(--accent-color);
}
.contact-list-link:hover .my-phone,
.contact-list-link:focus .my-phone {
  /*text-decoration: underline solid var(--accent-color);*/
  fill: var(--accent-color);
}
/*=========END HEDER===========*/

/*=========HERO===========*/
.hero {
  background-color: #2f303a00;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/hero/hero.jpg");

  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0 15px;
  /*outline: 2px solid tomato;*/
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  margin-bottom: 30px;

  /* margin-top: 200px;
  margin-right: 452px;
  margin-bottom: 30px;
  margin-left: 452;*/
}

.modal-btn {
  min-width: 200px;
  height: 50px;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: #efefef;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.modal-btn:active {
  columns: var(--active-color);
}
/*==========END HERO==========*/

/*===========TEXT SECTION======*/
.text-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.text-container {
  width: 1200px;
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;
}

.text-list {
  display: flex;
}
.text-list-itme {
  display: flexbox;
  width: 270px;
}
.text-list-itme::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  padding: 60px 135px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-tarelka::before {
  display: inline-flex;
  content: "";
  background-image: url("/images/svg/tarelka.svg");
}
.icon-clock::before {
  background-image: url("/images/svg/clock.svg");
}
.icon-diagram::before {
  background-image: url("/images/svg/diagram.svg");
}
.icon-cosmonaut::before {
  background-image: url("/images/svg/cosmonaut.svg");
}
.text-list-itme:not(:last-child) {
  margin-right: 30px;
}
.text-third-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 10px;
}
.discreption {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--discreption-color);
}

/*========END TEXT============*/

/*========SERVISES============*/
.servises-section {
  padding-bottom: 94px;
}
.servises-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0px -15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
}
.third-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--titles-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.servises-list {
  display: flex;
  margin-right: 0;
  justify-content: space-between;
}
.servises-list-itme {
  margin: 15px;
}
.servises-img-box {
  position: relative;
}
/*.servises-list-img::before {
  display: inline-block;
  content: "hlkhklfhkfhk";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;

  left: 0;
  z-index: 1;
  background-color: rgb(124, 9, 9);
}*/

.servises-oppression {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/*========END SERVISES============*/

/*==============TEAM ===================*/
.team-section {
  background-color: #f5f4fa;
  /*outline: 1px solid tomato;*/
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  display: flex;
  width: 1200px;
  padding: 0 -15px;
  /*outline: 1px solid #7adf27;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-itme {
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-itme:not(:last-child) {
  margin-right: 30px;
}
.team-list-itme:hover,
.team-list-itme:focus {
  border: 1px solid var(--accent-color);
}
/*=========CUSTOMER============*/
.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customer-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.customer-list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.customer-list-itme {
}
.costom-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid#AFB1B8;
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list-itme:not(:last-child) {
  margin-right: 30px;
}
.costom-list-link:hover,
.costom-list-link:focus {
  border: 1px solid var(--accent-color);
}
.custom-icon-yaco {
  width: 44px;
  height: 50px;
}
.list-hover {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costom-list-link:hover .list-hover,
.costom-list-link:focus .list-hover {
  fill: var(--accent-color);
}
.custom-icon-company {
  width: 40px;
  height: 52px;
}
.custom-icon-company-1 {
  width: 41px;
  height: 43px;
}
.custom-icon-foster-petrs {
  width: 80px;
  height: 42px;
}
.custom-icon-brand {
  width: 59px;
  height: 47px;
}
.custom-icon-company2 {
  width: 88px;
  height: 44px;
}
/*=========CUSTOMER END============*/
/*=========fOOTER============*/
.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer .logo-link {
  margin-bottom: 20px;
}
.footer .logo-part-name {
  color: #ffffff;
}
.address-link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  color: #ffffff;
  height: 21px;
  padding-top: 10px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  color: var(--accent-color);
}
.address-link:active {
  color: var(--active-color);
}

.footer .contact-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer .contact-list-itme {
  display: block;
  width: 231px;
  height: 21px;
  padding-top: 10px;
  margin-bottom: 9px;
}
.footer .contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

/*========PORTFOLIO============*/
.portfolio .header {
  border-bottom: 1px solid #ececec;
}
.portfolio .nav-list-itme:nth-child(even)::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
  padding-top: 94px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 0 15px;
  /* outline: 1px solid #72ec0d;*/
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.filter-list {
  margin-bottom: 50px;
  font-size: 0;
}
.filter-list-itme {
  display: inline-block;

  font-size: 0;
}
.filter-modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  height: 38px;
  padding: 6px 22px;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-modal-btn:hover,
.filter-modal-btn:focus {
  /*text-decoration: underline solid var(--accent-color);*/
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-modal-btn:active {
  columns: var(--active-color);
}

.portfolio-galery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.galery-list-itme {
  margin: 15px;
  /*outline: 1px solid #eeeeee;*/
}
.galegry-list-link {
  display: block;
  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galegry-list-link:hover,
.galegry-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-img-box {
  position: relative;
  overflow: hidden;
}
.owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.555;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galegry-list-link:hover .owerlay,
.galegry-list-link:focus .owerlay {
  transform: translateY(0%);
}

/*============COMPANENTS==========*/
/*.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;

}  /*outline: 1px solid #7adf27;*/

.forth-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.187;
  color: var(--titles-color);
  margin-bottom: 10px;
}

.list-name {
  padding: 30px;
}
.galery-list-itme .list-name {
  padding: 20px;
}

.sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  color: var(--discreption-color);
}
.team-list-itme .sub-title {
  margin-bottom: 16px;
}

.social-media {
  width: 206px;
  height: 80px;
  /*outline: 1px solid #2196f3;*/
}
.social-media .text-third-title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-media-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  /* outline: 1px solid teal;*/
}

.social-media-list-itme {
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:focus,
.social-media-link:hover {
  background-color: var(--accent-color);
}
.footer-container .social-media-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container .social-media-link:hover,
.footer-container .social-media-link:focus {
  background-color: var(--accent-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container .social-icon {
  fill: #ffffff;
}
.social-media-link:focus .social-icon,
.social-media-link:hover .social-icon {
  fill: #ffffff;
}
/*============================backdrop=================*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  background-color: #ffffff;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close {
  width: 11px;
  height: 11px;
  fill: #000000;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
